.results .result-item {
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    margin: 4px;
}

.results {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}