:host {
    display: flex;
    flex-direction: column;    
}

div {
    border: 1px solid gray;
    padding: 4px;
    margin: 4px;
    border-radius: 10px;
    user-select: none;
    cursor: pointer;
}

div:hover {
    background-color: lightgray;
}

div.selected {
    background-color: lightblue;
}