<app-expander header="the header">
  <button expander-toggle>more...</button>

  <div expander-header>
    <img src="assets/earth.png">
    Hello World
  </div>
    <h2>This is some rich content</h2>
  <h1>Hello world</h1>
  <h2>This is some rich content</h2>
  <h3>Todays tasks</h3>
  <ul>
    <li>Clean the dishes</li>
    <li>Do the laundry</li>
    <li>No need for the third bullet, I am not doing the first two anyway</li>
  </ul>
  <h1>Second H1</h1>
</app-expander>

<button expander-toggle></button>