
<button (click)="counter = counter + 1">+</button>
<button (click)="counter = counter - 1">-</button>

<span>Start with:</span>
<button (click)="starter = starter + 1">+</button>
<button (click)="starter = starter - 1">-</button>

<h1 *myRepeat="counter; startWith starter let i; let f = first">{{i}}. Hello world @if(f){(!!!)}</h1>

<hr>

<ng-template [myRepeat]="counter" [myRepeatStartWith]="starter" let-i let-f="first">
  <h1>{{i}}. Hello world
    @if(f){!!!}
  </h1>
</ng-template>



<ng-template ngFor let-i [ngForOf]="[1, 2, 3]">
  <span></span>
</ng-template>

<span *ngFor="let i of [1, 2, 3]; let ind = index; let o = odd; let isLast = last"></span>


<!-- 
<div class="selectors">
  <app-string-selector [options]="options" [(selected)]="selectedColor">
      <span *itemTemplate="let item" [style.color]="item">{{item}}</span>
  </app-string-selector>

  <app-string-selector [options]="sizes" [(selected)]="selectedSize">
      <span *itemTemplate="let item" [style.font-size]="item">{{item}}</span>
  </app-string-selector>

</div>

<app-expander header="the header" class="x">
  <button expander-toggle [style.background]="selectedColor()" [style.font-size]="selectedSize()">
    <span expander-collapsed>More...</span>
    <span expander-expanded>Less...</span>
  </button>

  <div expander-header>
    <img src="assets/earth.png">
    Hello World
  </div>
    <h2>This is some rich content</h2>
  <h1>Hello world</h1>
  <h2>This is some rich content</h2>
  <h3>Todays tasks</h3>
  <ul>
    <li>Clean the dishes</li>
    <li>Do the laundry</li>
    <li>No need for the third bullet, I am not doing the first two anyway</li>
  </ul>
  <h1>Second H1</h1>
</app-expander> -->
