:host {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    ' btn hdr' 
    ' cnt cnt';

    border: 1px solid black;

    --p-header-color: var(--expander-header-bg, lightblue);

}

.header-area {
    grid-area: hdr;
    background-color: var(--p-header-color);
    padding: 4px;
}

.button-area {
    grid-area: btn;
    padding: 4px;
    background-color: var(--p-header-color);
}

.content-area {
    grid-area: cnt;
    padding: 4px;
}   
